.ab>h2{
    text-align: center;
    color: rgb(51, 71, 71);
    font-family:sans-serif  cursive;
}
.ab>h6{
    text-align: center;
    color: rgb(51, 71, 71);
    font-family:sans-serif  cursive;
}

.ab>div{
    border: solid,black,1px;
    border-radius: 5px;
    height: 70px;
    margin-bottom: 10px;
}