.ab>h2{
    text-align: center;
    color: rgb(51, 71, 71);
    font-family:sans-serif  cursive;
}

.ab>form{
    border: solid , rgb(51, 71, 71),1px;
    font-family:sans-serif , cursive;
    padding: 10px;
    border-radius: 5px;
    height: 200px;
    text-align: center;
    background-color: rgb(171, 211, 211);
}