.ab{
    margin-left: 10px;
}
.ab>h2{
    text-align: center;
    color: rgb(51, 71, 71);
    font-family:sans-serif  cursive;
}
.ab>h6{
    text-align: center;
    color: rgb(51, 71, 71);
    font-family:sans-serif  cursive;
}
.ab>h3{
    margin-top: 40px;
}

.ab>div{
    border: solid,black,1px;
    box-shadow: 1px 2px 5px rgb(12, 11, 11);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height: 70px;
    margin-bottom: 10px;
    padding: 10px;
}

.ab>div>form{
    display: flex;
    padding: 10px; 
}

.ab>div>form>input{
    width: 50px;
}  

.ab>div>form>button{
    text-align: center;
    color: aliceblue;
    background-color: rgb(12, 209, 12);
    margin-left: 50px;
}

